/*
COLORS:
INDEPENDENCE - #4B3F72
SEASHELL - #FCEDED
CAMEO PINK - #E3BAC6
BLUE SAPPHIRE - #19647E
ONYX - #373737
MINT CREAM - #F4FFF5
PASTEL BLUE - #AFC2D5
*/

@import url('https://fonts.googleapis.com/css?family=Fira+Sans&display=swap');

* {
	font-family: 'Fira Sans', sans-serif;
	font-size: 25px;
}

body {
	background-color: #373737;
	margin:0px;
	padding:0px;
}

.header {
	position: absolute;
	text-align: center;
	width: 100%;
	background-color: rgba(244, 255, 245, 0.15);
	top: 0;
}

.header-title {
	color: white;
	opacity: 100%;
}

.list {
	position: relative;
	background-color: #FCEFEF;
	border: 3px solid #AFC2D5;
	border-radius: 7px;
	width: 300px;
	height: 700px;
	float: left;
	top: 80px;
	margin: 5px;
}

.list-title {
	position: absolute;
	width: 100%;
	height:50px;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	background-color: #AFC2D5;
}

.list-title-text {
	position: relative;
	bottom: 50%;
	width: 100%;
	height: 100%;
	color: white;
	font-size: 30px;
	text-align: center;
	color: #373737;
}

.list-card {
	background-color: #373737;
	border-radius: 7px;
	margin: 8px;
	padding: 1px;
	height: auto;
}

.list-card-title {
	color: #AFC2D5;
	position: relative; 
	margin: 3%;
}

.list-card-info {
	color: #F4FFF5;
	margin: 3%;
	font-size: 20px;
  	white-space:normal;
}